@keyframes move {
	0% {
		top: 0;
    left: 0;
	}
	25% {
		top: 0;
		left: 400px;
	}
	50% {
		top: 400px;
		left: 400px;
	}
  75% {
    top: 400px;
		left: 0;
  }
	100% {
		top: 0;
		left: 0;
	}
}

.root {
	width: 200px;
	height: 200px;
	background-color: rebeccapurple;

	/* transform: translate(10px, 20px); */
	/* transform: translate3d(10px, 20px, 30px); */
	/* transform: scale(0.5, 0.5); */
	/* transform: scale3d(0.5, 0.5, 2); */
	/* transform: rotate3d(0.5, 0.5, 0.5, 45deg); */
	/* transform: matrix(1, 2, -1, 1, 80, 80); */
	/* transform: skew(10deg, 10deg); */

	/* transition: width 0.2s; */

	/* position: relative;
	animation: move 2s infinite; */
}

/* .root:hover {
	width: 400px;
} */
